body{
    background-color: #00a6fb;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: white;
    font-weight: 600;
    font-size: 2.3rem;
}
li{
    text-decoration: none;
    list-style: none;
}

.main{
    width: 80%;
    border-radius: 10%;
    height: 30rem;
    margin: 4rem auto;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    visibility: hidden;
}

#enviar{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.search-bar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lugar{
    width: 70%;
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    border: none;
}

#container{
    border-radius: 3rem;
    margin-top: 2rem;
    background-color: #0582ca;
}

.ciudades{
   text-align: center;
   color: white;
   padding: 2rem 3rem;
}

#wicon{
    width: 5rem;
}

#temperatura{
    font-size: 3rem;
}

#ciudad{
    font-size: 3.2rem;
}

#metric{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#metric button {
    background-color: white;
    padding: .5rem 1rem;
    border: none;
}

#celcius{
    border-radius: 2rem 0 0 2rem;
}

#fahrenheit{
    border-radius: 0 2rem 2rem 0;
}

.active{
    opacity: 80%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#error-displayer{
    color: white;
}